@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-900;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Custom global styles */
.sidebar {
  @apply bg-slate-900 text-slate-300;
}

.status-dot {
  @apply w-2 h-2 rounded-full relative;
}

.status-dot::after {
  content: '';
  @apply absolute inset-0 rounded-full animate-ping opacity-75;
  background-color: inherit;
}
